.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  padding: 10px 30px;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.card-category {
  background-size: cover;
  background-position: center;
  height: 240px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

/*Card Hello*/
  .list-card {
    /*fixed*/
    display: flex;
    flex-direction: column;
    margin: auto;
    /*customizable*/
    height: 300px;
    width: 100%;
    max-width: 500px;
    border-radius: 16px;
    background-color: white;
    box-shadow: 0 8px 16px rgba(0,0,0,0.3);
    overflow: hidden;
    position: relative;

    .trash-icon {
    position: absolute;
    top: 12px;
    right: 36px;
    font-size: 24px;
    color: white;
    }
  }

  .list-card img {
    /*fixed*/
    width: 100%;
    object-fit: cover;
    /*customizable*/
    object-position: 50% 50%;
    border-radius: 16px 16px 0 0;
    height: 30%;
    transition: height 1s ease;
  }

  .list-card-info {
    /*fixed*/
    /*customizable*/
    padding: 16px;
  }

  .list-card-info h2 {
    /*customizable*/
    margin: 16px 0;
  }

  /* De-activate card hover style for tablet/mobiles */
  @media (min-width: 1100px) {
    .list-card img:hover {
      /*customizable*/
      height: 70%;
    }
  }

  .list-card img.tapped {
    /*customizable*/
    height: 70%;
  }

.card-pick {
  /*fixed*/
  display: flex;
  flex-direction: column;
  /*customizable*/
  height: 1000px;
  width: 100%;
  max-width: 400px;
  border-radius: 4px;
  background-color: white;
  box-shadow: 0 0px 16px rgba(0, 0, 0, 0.3);
  margin: auto;
  position: relative;

  img {
      /*fixed*/
      width: 100%;
      object-fit: cover;
      /*customizable*/
      object-position: 50% 50%;
      border-radius: 4px 4px 0 0;
    }

  .trash-icon {
    position: absolute;
    bottom: 8px;
    right: 8px;
    font-size: 24px;
    color: $green;
  }
}
.card-pick-info {
  /*customizable*/
  padding: 24px 16px;
  h2 {
      /*customizable*/
      margin: 0;
    }
}
.card-pick:hover {
  /*customizable*/
  transition: 0.2s ease-out;
  transform: translateY(-8px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}
